<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="nav navbar-nav">
        <a
          *ngFor="let item of navItems$ | async"
          class="nav-item nav-link"
          [routerLink]="item.url">
            {{ item.text }}
        </a>
    </div>
    <div class="pull-right">
      <a *ngIf="!(user$ | async)" class="nav-item nav-link" routerLink="/login">
        Login
      </a>
      <button (click)="onLogout()" *ngIf="user$ | async" class="nav-item nav-link btn btn-default">
        Logout
      </button>
    </div>
</nav>
